body {
	margin: 0px;
	text-align: center;
	background-color: black;
}

#theme {
	color: white;
	margin-left: 5%;
	text-align: left;
}

div.calc {
	margin: 5px;
	width: 300px;
	padding: 10px 0% 10px 0%;
	margin-left: auto;
	margin-right: auto;
	height: 450px;
	border-radius: 20px;
	background-color: tomato;
}

#display {
	width: 90%;
	height: 20%;
	border-radius: 10px 10px 0px 0px;
	cursor: text;
	font-size: 400%;
	text-align: right;
	margin-bottom: 0%;
	pointer-events: none;
	border-style: none;
}

#output {
	width: 90%;
	height: 20%;
	border-radius: 0px 0px 10px 10px;
	cursor: text;
	font-size: 130%;
	text-align: right;
	margin-top: 0%;
	margin-bottom: 10%;
	pointer-events: none;
	border-style: none;
}

button {
	height: 12%;
	width: 18%;
	margin: 1.5%;
	font-weight: bold;
	font-size: 1.5rem;
	border-radius: 100%;
	background-color: white;
	border-style: none;
}